.footer{
    width: 100%;
    background-color: rgb(18, 35, 47);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    justify-content: center;
}
.footer_logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    float: right;
}